.song-container {
    min-height: 60vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.cover-art{
    width: 20%;
    border-radius: 10px;
}

.song-container h2 {
    font-size: 1.6rem;
    padding: 3rem 1rem 1rem 1rem;
    font-weight: 700;
}

.song-container h3 {
    font-size: 1.3rem;
    font-weight: 300;
}